[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=ID
ST=Indonesia
L=Tangerang Selatan
O=Zarkasi Development
OU=pascasarjana
emailAddress=arfan.zarkasi@gmail.com
CN = docker.local